@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

@import "variables";
@import "home";
@import "about";
@import "music";
@import "videos";
@import "photos";
@import "news";
@import "contact";

* {
  box-sizing: border-box;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .store-section {
  padding-top: 90px;
}

.container {
  display: inline-flex;
  width: 960px;
  padding: 80px 0;
}

.header {
  margin-bottom: 40px;
  h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.socials {
  z-index: 10;
  padding: 30px 0;

  ul {
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    a {
      color: #ffffff;
      font-size: 1.3rem;
      opacity: 1;

      :hover {
        opacity: 0.8;
      }
    }
  }
}

#social {
  .container {
    flex-direction: column;
    width: 100%;
    align-items: center;

    .socials {
      ul {
        a {
          color: #000000;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .copyright {
      padding: 10px 0;
      font-size: 1.2rem;
      color: $greyDark;
    }
  }
}

// ==================== start HEADER ==================== //
header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
  z-index: 5;
  height: 236px;
}

#header {
  background: url("../img/ovation-header-01.jpg") no-repeat center center; //'fixed' as last property for scrolling effect
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
  z-index: -2;
  height: 236px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .header-title {
    z-index: 10;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 4.5rem;
      font-weight: 600;
      padding-bottom: 15px;
    }

    p {
      font-size: 1.1rem;
      letter-spacing: 2px;
    }
  }
}

// ==================== end HEADER ==================== //

// ==================== start FIXED NAV-BAR ==================== //
#nav-container {
  z-index: 10;
}
.fixed-nav {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
  position: relative;

  .side-bar {
    display: inline-block;
    position: absolute;
    left: 72px;

    div {
      display: flex;
      flex-direction: row;
      font-size: 0.9rem;

      a {
        color: $greyDark;
        padding-right: 17px;
      }

      p {
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  .fixed-shortcuts {
    text-align: center;

    ul {
      display: flex;
      flex-direction: row;

      // .expanded-li:hover .sub-1,
      // .expanded-li:hover .sub-2 {
      //   opacity: 1;
      // }

      li {
        padding: 5px 10px;

        .active {
          font-weight: 600;
        }

        a {
          text-transform: uppercase;
          font-size: 0.9rem;
          font-weight: 100;
          text-decoration: none;
          color: #000;
        }

        a:hover {
          color: $greyLight;
        }

        .visible {
          display: block;
        }

        .sub-menu {
          display: none;
          position: absolute;
          background-color: #767676;
          width: 100%;
          height: 80px;
          top: 80px;
          left: 0;
          box-sizing: border-box;

          ul {
            display: flex;
            justify-content: center;
            // align-content: center;

            li {
              color: #ffffff;
              text-transform: uppercase;
              padding: 10px;
            }

            li:hover {
              color: $greyLight;
            }
          }
        }
      }
    }
  }
}

// ==================== end FIXED NAV-BAR ==================== //
#placeholder {
  width: 100%;
  height: 5000px;
  background-color: goldenrod;
  z-index: -5;
}
