@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

@import "variables";

* {
  box-sizing: border-box;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .store-section {
  padding-top: 90px;
}

.container {
  display: inline-flex;
  width: 960px;
  padding: 80px 0;
}

.header {
  margin-bottom: 40px;
  h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.socials {
  z-index: 10;
  padding: 30px 0;

  ul {
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    a {
      color: #ffffff;
      font-size: 1.3rem;
      opacity: 1;

      :hover {
        opacity: 0.8;
      }
    }
  }
}

// ==================== start HEADER ==================== //
header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
  z-index: 5;
  height: calc(100vh - 80px);
}

#header {
  background: url("../img/ovation-header-01.jpg") no-repeat center center; //'fixed' as last property for scrolling effect
  background-size: cover;
  height: calc(100vh - 80px);
  box-sizing: border-box;
  overflow: hidden;
  z-index: -2;

  display: flex;
  align-items: center;
  flex-direction: column;

  .header-title {
    z-index: 10;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;

    h1 {
      font-size: 4.5rem;
      font-weight: 600;
      padding-bottom: 15px;
    }

    p {
      font-size: 1.1rem;
      letter-spacing: 2px;
    }
  }
}

// ==================== end HEADER ==================== //

// ==================== start FIXED NAV-BAR ==================== //
#nav-container {
  z-index: 10;
}
.fixed-nav {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
  position: relative;

  .side-bar {
    display: inline-block;
    position: absolute;
    left: 72px;

    div {
      display: flex;
      flex-direction: row;
      font-size: 0.9rem;

      a {
        color: $greyDark;
        padding-right: 17px;
      }

      p {
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  .fixed-shortcuts {
    text-align: center;

    ul {
      display: flex;
      flex-direction: row;

      // .expanded-li:hover .sub-1,
      // .expanded-li:hover .sub-2 {
      //   opacity: 1;
      // }

      li {
        padding: 5px 10px;

        .active {
          font-weight: 600;
        }

        a {
          text-transform: uppercase;
          font-size: 0.9rem;
          font-weight: 100;
          text-decoration: none;
          color: #000;
        }

        a:hover {
          color: $greyLight;
        }

        .visible {
          display: block;
        }

        .sub-menu {
          display: none;
          position: absolute;
          background-color: #767676;
          width: 100%;
          height: 80px;
          top: 80px;
          left: 0;
          box-sizing: border-box;

          ul {
            display: flex;
            justify-content: center;
            // align-content: center;

            li {
              color: #ffffff;
              text-transform: uppercase;
              padding: 10px;
            }

            li:hover {
              color: $greyLight;
            }
          }
        }
      }
    }
  }
}

// ==================== end FIXED NAV-BAR ==================== //

// ==================== start STORE-SECTION ==================== //
.store-section {
  display: flex;
  justify-content: center;
  background: #1a1a1a;

  .container {
    div {
      width: 50%;
      // padding: 0 40px;
      margin: 0 40px 0 0;

      img {
        width: 100%;
      }
    }

    .store-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0 0 40px;
      color: #fff;

      h1 {
        text-transform: capitalize;
        font-size: 1.7rem;
        font-weight: 500;
        margin: 15px 0;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.4;
        font-weight: 100;
        margin: 15px 0;
        text-align: center;
      }

      .store-links {
        display: flex;

        div {
          border: 1px solid #fff;
          font-size: 0.7rem;
          text-transform: uppercase;
          padding: 18px 30px;
          margin: 15px 3px;
          text-align: center;

          &:hover {
            background-color: #fff;
            color: #000;
          }
        }
      }
    }
  }
}
// ==================== end STORE-SECTION ==================== //

// ==================== start QUOTE-SECTION ==================== //
.quote-section {
  width: 100%;
  text-align: center;
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .quote {
    padding: 0 130px;

    blockquote {
      position: relative;

      p {
        font-size: 1.5rem;
        font-style: italic;
        color: $greyLight;
        text-align: left;
        line-height: 1.5;
        padding: 40px 0;
      }

      cite {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 1.2rem;
        color: $greyLight;
        text-align: end;
      }
    }
  }
}

// ==================== end QUOTE-SECTION ==================== //

// ==================== start BG-SECTION 1 ==================== //
.bg-container-1 {
  background: url("../img/featured-010.jpg") no-repeat center fixed; //'fixed' as last property for scrolling effect
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
  // width: 100vw;
  height: 600px;
}
// ==================== end BG-SECTION 1 ==================== //

// ==================== start NEWS-SECTION ==================== //
.news-section {
  .container {
    flex-direction: column;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;

    .header {
      padding-bottom: 40px;
    }

    .articles {
      display: flex;

      .border {
        border-left: 1px solid $greyLight;
        border-right: 1px solid $greyLight;
      }

      .article {
        height: 300px;
        padding: 80px;
        text-align: center;

        p {
          font-size: 0.9rem;
          letter-spacing: 1px;
          color: $greyDark;
          padding: 10px;
        }

        div {
          padding: 10px;

          a {
            text-decoration: none;
            color: #000;
            font-size: 1.2rem;
          }
        }
      }
    }

    .all-posts {
      padding: 40px 0;

      a {
        color: $greyDark;
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}
// ==================== end NEWS-SECTION ==================== //

// ==================== start BG-SECTION 2 ==================== //
.bg-container-2 {
  background: url("../img/featured-009.jpg") no-repeat center fixed; //'fixed' as last property for scrolling effect
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
  // width: 100vw;
  height: 600px;
}
// ==================== end BG-SECTION 2 ==================== //
// ==================== start VIDEOS-SECTION ==================== //
.video-section {
  height: calc(100vh - 80px);
  .container {
    flex-direction: column;
    width: 100%;
    height: 600px;
    align-items: center;

    .videos {
      display: flex;
      width: 1230px;
      justify-content: space-between;
      padding: 40px 0;

      .video {
        text-align: center;
        h2 {
          font-size: 1.2rem;
          padding: 15px 0;
          a {
            text-decoration: none;
            color: $greyDark;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .video-link {
      padding-bottom: 40px;
      h2 {
        font-size: 0.9rem;
        padding: 15px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        a {
          color: $greyDark;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .socials {
      ul {
        a {
          color: #000000;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    .copyright{
      padding: 10px 0;
      font-size:1.2rem;
      color: $greyDark;
    }
  }
}
// ==================== end VIDEOS-SECTION ==================== //
#placeholder {
  width: 100%;
  height: 5000px;
  background-color: goldenrod;
  z-index: -5;
}
