@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .store-section {
  padding-top: 90px;
}

.container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 960px;
  padding: 80px 0;
}

.header {
  margin-bottom: 40px;
}

.header h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.socials {
  z-index: 10;
  padding: 30px 0;
}

.socials ul {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.socials ul a {
  color: #ffffff;
  font-size: 1.3rem;
  opacity: 1;
}

.socials ul a :hover {
  opacity: 0.8;
}

header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
  z-index: 5;
  height: calc(100vh - 80px);
}

#header {
  background: url("../img/ovation-header-01.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 80px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .header-title {
  z-index: 10;
  color: #ffffff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 40%;
}

#header .header-title h1 {
  font-size: 4.5rem;
  font-weight: 600;
  padding-bottom: 15px;
}

#header .header-title p {
  font-size: 1.1rem;
  letter-spacing: 2px;
}

#nav-container {
  z-index: 10;
}

.fixed-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #ffffff;
  width: 100%;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.fixed-nav .side-bar {
  display: inline-block;
  position: absolute;
  left: 72px;
}

.fixed-nav .side-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.9rem;
}

.fixed-nav .side-bar div a {
  color: #4d4d4d;
  padding-right: 17px;
}

.fixed-nav .side-bar div p {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fixed-nav .fixed-shortcuts {
  text-align: center;
}

.fixed-nav .fixed-shortcuts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fixed-nav .fixed-shortcuts ul li {
  padding: 5px 10px;
}

.fixed-nav .fixed-shortcuts ul li .active {
  font-weight: 600;
}

.fixed-nav .fixed-shortcuts ul li a {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 100;
  text-decoration: none;
  color: #000;
}

.fixed-nav .fixed-shortcuts ul li a:hover {
  color: #ababab;
}

.fixed-nav .fixed-shortcuts ul li .visible {
  display: block;
}

.fixed-nav .fixed-shortcuts ul li .sub-menu {
  display: none;
  position: absolute;
  background-color: #767676;
  width: 100%;
  height: 80px;
  top: 80px;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fixed-nav .fixed-shortcuts ul li .sub-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fixed-nav .fixed-shortcuts ul li .sub-menu ul li {
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}

.fixed-nav .fixed-shortcuts ul li .sub-menu ul li:hover {
  color: #ababab;
}

.store-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1a1a1a;
}

.store-section .container div {
  width: 50%;
  margin: 0 40px 0 0;
}

.store-section .container div img {
  width: 100%;
}

.store-section .container .store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 40px;
  color: #fff;
}

.store-section .container .store-info h1 {
  text-transform: capitalize;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 15px 0;
}

.store-section .container .store-info p {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 100;
  margin: 15px 0;
  text-align: center;
}

.store-section .container .store-info .store-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.store-section .container .store-info .store-links div {
  border: 1px solid #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 18px 30px;
  margin: 15px 3px;
  text-align: center;
}

.store-section .container .store-info .store-links div:hover {
  background-color: #fff;
  color: #000;
}

.quote-section {
  width: 100%;
  text-align: center;
}

.quote-section .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.quote-section .quote {
  padding: 0 130px;
}

.quote-section .quote blockquote {
  position: relative;
}

.quote-section .quote blockquote p {
  font-size: 1.5rem;
  font-style: italic;
  color: #ababab;
  text-align: left;
  line-height: 1.5;
  padding: 40px 0;
}

.quote-section .quote blockquote cite {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.2rem;
  color: #ababab;
  text-align: end;
}

.bg-container-1 {
  background: url("../img/featured-010.jpg") no-repeat center fixed;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
  height: 600px;
}

.news-section .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-section .container .header {
  padding-bottom: 40px;
}

.news-section .container .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-section .container .articles .border {
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
}

.news-section .container .articles .article {
  height: 300px;
  padding: 80px;
  text-align: center;
}

.news-section .container .articles .article p {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #4d4d4d;
  padding: 10px;
}

.news-section .container .articles .article div {
  padding: 10px;
}

.news-section .container .articles .article div a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

.news-section .container .all-posts {
  padding: 40px 0;
}

.news-section .container .all-posts a {
  color: #4d4d4d;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bg-container-2 {
  background: url("../img/featured-009.jpg") no-repeat center fixed;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
  height: 600px;
}

.video-section {
  height: calc(100vh - 80px);
}

.video-section .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-section .container .videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1230px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.video-section .container .videos .video {
  text-align: center;
}

.video-section .container .videos .video h2 {
  font-size: 1.2rem;
  padding: 15px 0;
}

.video-section .container .videos .video h2 a {
  text-decoration: none;
  color: #4d4d4d;
}

.video-section .container .videos .video h2 a:hover {
  text-decoration: underline;
}

.video-section .container .video-link {
  padding-bottom: 40px;
}

.video-section .container .video-link h2 {
  font-size: 0.9rem;
  padding: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.video-section .container .video-link h2 a {
  color: #4d4d4d;
}

.video-section .container .video-link h2 a:hover {
  text-decoration: none;
}

.video-section .container .socials ul a {
  color: #000000;
}

.video-section .container .socials ul a:hover {
  opacity: 0.7;
}

.video-section .container .copyright {
  padding: 10px 0;
  font-size: 1.2rem;
  color: #4d4d4d;
}

#placeholder {
  width: 100%;
  height: 5000px;
  background-color: goldenrod;
  z-index: -5;
}
/*# sourceMappingURL=main.css.map */